@mixin flex($fd:row, $jc:center, $ai:center) {
  display: flex;
  flex-direction: $fd;
  justify-content: $jc;
  align-items: $ai;
}

@mixin poa($l:0, $t:0, $r:0, $b:0) {
  position: absolute;
  margin: auto;

  @if $l !=l {
    left: $l;
  }

  @else {
    left: auto;
  }

  @if $t !=t {
    top: $t;
  }

  @else {
    top: auto;
  }

  @if $r !=r {
    right: $r;
  }

  @else {
    right: auto;
  }

  @if $b !=b {
    bottom: $b;
  }

  @else {
    bottom: auto;
  }
}

@mixin fixed($l:0, $t:0, $r:0, $b:0) {
  position: fixed;
  margin: auto;

  @if $l !=l {
    left: $l;
  }

  @else {
    left: auto;
  }

  @if $t !=t {
    top: $t;
  }

  @else {
    top: auto;
  }

  @if $r !=r {
    right: $r;
  }

  @else {
    right: auto;
  }

  @if $b !=b {
    bottom: $b;
  }

  @else {
    bottom: auto;
  }
}

@mixin rect($w:100%, $h:100%, $bdrs:0) {
  width: $w;
  height: $h;
  border-radius: $bdrs;
}

@mixin circle($r) {
  width: $r;
  height: $r;
  border-radius: 50%;
}

@mixin font($fz:$fz-primary, $lh:1.5, $fw:$fw-primary, $ls:1px) {
  $calcfz: calc($fz / $fz-primary) + rem;
  font-size: $calcfz;
  line-height: $lh;
  letter-spacing: $ls;
  font-weight: $fw;
}

@mixin border($bc:$c-border, $bw:1px, $bs:solid) {
  border-color: $bc;
  border-width: $bw;
  border-style: $bs;
}

@mixin beaf {
  content: "";
  display: block;
}

@mixin bg($bgsz:contain, $bgr:no-repeat, $bgposh:center, $bgposs:center) {
  background-size: $bgsz;
  background-repeat: $bgr;
  background-position: $bgposh $bgposs;
}

@mixin img($w:auto, $h:auto) {
  @include rect($w, $h);
  @include flex;

  @if $w==auto {

    picture,
    img {
      @include rect(auto, 100%);
    }
  }

  @else if $h==auto {

    picture,
    img {
      @include rect(100%, auto);
    }
  }

  @else {

    picture,
    img {
      @include rect(100%, 100%);
    }
  }
}

@mixin textstroke($w, $color, $fz:$fz-primary, $lh:1.5, $fw:$fw-primary, $ls:2px) {
  @include font($fz, $lh, $fw, $ls);
  @include flex;
  z-index: 1;

  &::before {
    content: attr(data-stroke);
    display: block;
    white-space: pre;
    @include poa;
    @include flex;
    @include font($fz, $lh, $fw, $ls);
    color: $color;
    -webkit-text-stroke: $w $color;
    text-stroke: $w $color;
    z-index: -1;
  }
}