html,
body {
  margin: 0;
  -webkit-text-size-adjust: 100% !important;
  text-size-adjust: 100% !important;
}

html {
    font-size: $fz-primary;
}

.l-container {
    *, *::before, *::after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        position: relative;
        margin: 0px;
        padding: 0px;
        font-family: '思源柔黑體', 'PingFang TC', 'Microsoft JhengHei', sans-serif;
        @include font;
        color: $c-text;
        vertical-align: baseline;
        outline: none;
        background-color: transparent;
        -webkit-background-clip: padding-box;
        background-clip: padding-box;
        // touch-action: none;
        &:focus {
            outline: none;
            box-shadow: none;
        }
    }
    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {
        border-collapse: collapse;
        border-spacing: 0;
    }
    img {
        object-fit: contain;
        line-height: 0;
    }
    input {
        caret-color: $c-text;
    }
    a {
        text-decoration: none;
    }
    .is-hidden {
        display: none !important;
    }
    .is-unvisible {
        opacity: 0 !important;
        pointer-events: none !important;
    }
    .is-unclick {
        pointer-events: none !important;
    }
}