$height-navbar: 116px;

$fz-primary: 16px;

$fw-lighter: 300;
$fw-primary: 500;
$fw-bold: 700;

$space-xs: 8px;
$space-s: 16px;
$space-m: 24px;
$space-l: 32px;
$space-xl: 40px;
$space-xxl: 48px;

$c-bg: black;
$c-text-primary: white;
$c-brand1: #b82a06;
$c-brand2: #ffc612;