$height-navbar: 96px;

$fz-primary: 16px;

$fw-lighter: 300;
$fw-primary: 500;
$fw-bold: 700;

$xs-padding: 8px;
$s-padding: 16px;
$m-padding: 24px;
$l-padding: 32px;
$xl-padding: 40px;

$c-bg: black;
$c-text-primary: white;
$c-brand1: #b82a06;
$c-brand2: #ffc612;